<h1>Memes</h1>

<a href="/memes/new">New</a>
<ul>
<% if !@memes.nil? %>
  <% @memes.each do |article| %>
    <li>
      <a href="/memes/<%= meme.id %>">
        <%= meme.title %>
      </a>
    </li>
  <% end %>
<% end %>
</ul>